{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
  <nav class="navbar ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="" style="color: rgb(235, 230, 230); font-size: 30px;"> Gallery</a>
        
      </div>
  
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">
  
          <form class="navbar-form" role="search" action="">
  
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Pictures" name="article" style="color: black; height: 37px;">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="margin-left: 1%; height: 37px;"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
  
          </form>
      </div>
        <!-- search form end -->
    </div>
  </nav>
  
</body>
</html>