{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
  <nav class="navbar ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="" style="color: rgb(235, 230, 230); font-size: 30px;"> Gallery</a>
        <ul class="navbar-brand" style="list-style: none;  font-size: 20px; color: white !important;  ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important; text-decoration: none; padding-left: 15%;">
              Location
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for location in locations %}
             
                <a href="/location/{{location.id}}" class="available dropdown-item" style="color: red; ">
                  {{location.name}},
          </a>
              
                
               {% endfor %} 
            </div>
          </li>
        </ul>
      </div>
      
       
     
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">
  
          <form class="navbar-form" role="search" action="{%url 'search_results'%}">
  
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by category" name="article" style="color: black; height: 37px;">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="margin-left: 1%; height: 37px;"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
  
          </form>
      </div>
        <!-- search form end -->
    </div>
  </nav>
  
</body>
</html>